.wrapper{
    width: 40%;
    margin:10px auto;
    padding: 15px 15px;
    border: 1px solid rgb(83, 46, 46);
    border-radius: 10px;
    background-color: rgb(207, 208, 242);
    font-size: 22px;
    color: rgb(5, 5, 36);
    font-weight: bold;

}
.wrapper div{
    margin: 3px;
}


